.side-bar
  .side-bar__header
    %p.side-bar__header__username
      user name
    %ul.side-bar__top-items
      %li.side-bar__top-items__edit
        = link_to "#" do
          %i.fa.fa-edit.f-color
      %li.side-bar__top-items__set
        = link_to "#" do
          %i.fa.fa-cog.fa-fw.f-color

  .side-bar__body
    %ul.side-bar__group-items
      %li.side-bar__group-items__name
        techcamp
      %li.side-bar__group-items__message
        まだメッセージがありません